---
---

body
    background-color: #f2f2f2
    font-family: 'Inter', 'Noto Sans TC', sans-serif;

.card
    max-width: 600px
    margin: auto

.card:hover
    transform: translateY(-3px)
    transition: transform 0.2s
