<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <label>工作電壓 (V) <input class="form-control" type="number" inputmode="numeric" id="powerbank-voltage" value="3.7" step="0.1"></label>
        </div>
        <div class="col-12 mt-3">
            <h5>常用電壓</h5>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" id="powerbank-voltage-3p7">3.7V</button>
                <button type="button" class="btn btn-primary" id="powerbank-voltage-5">5V</button>
                <button type="button" class="btn btn-primary" id="powerbank-voltage-9">9V</button>
                <button type="button" class="btn btn-primary" id="powerbank-voltage-12">12V</button>    
            </div>
        </div>
    </div>

    <hr>

    <div class="row mt-3">
        <div class="col-6">
        <label>電容量 (mAh)<input class="form-control" type="number" inputmode="numeric" id="powerbank-capacity-mah" value="10000"></label>
        </div>
        <div class="col-6">
        <label>電容量 (Wh)<input class="form-control" type="number" inputmode="numeric" id="powerbank-capacity-wh" value="37"></label>
        </div>

        <div class="col-6">
            <h5>常用容量</h5>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-primary" id="powerbank-capacity-mah-5000">5000mAh</button>
                <button type="button" class="btn btn-primary" id="powerbank-capacity-mah-10000">10000mAh</button>
                <button type="button" class="btn btn-primary" id="powerbank-capacity-mah-20000">20000mAh</button>
                <button type="button" class="btn btn-primary" id="powerbank-capacity-mah-40000">40000mAh</button>
            </div>
        </div>

        <div class="col-6">
            <h5>常用容量</h5>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-primary" id="powerbank-capacity-wh-18p5">18.5Wh</button>
                <button type="button" class="btn btn-primary" id="powerbank-capacity-wh-37">37Wh</button>
                <button type="button" class="btn btn-primary" id="powerbank-capacity-wh-74">74Wh</button>
                <button type="button" class="btn btn-primary" id="powerbank-capacity-wh-148">148Wh</button>
            </div>
        </div>
    </div>
</div>

