
<div class="container text-center">
    <div class="row">
        <div class="col-lg-6">
            <label>價格<input class="form-control" type="number" id="price" value="35"></label>
        </div>
        <div class="col-lg-6">
            <label>總數量/總重量<input class="form-control" type="number" id="quantity" value="330"></label>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-6">
            <label>每單位價格<input class="form-control" type="number" id="cp-per-1" readonly></label>
        </div>
        <div class="col-lg-6">
            <label>每百單位價格<input class="form-control" type="number" id="cp-per-100" readonly></label>
        </div>
    </div>

</div>
