<div class="container">
    <div class="row">
        <div class="col">
            <label>身高 (cm)<input class="form-control" type="number" inputmode="numeric" id="height-input"></label>
            <label>體重 (kg)<input class="form-control" type="number" inputmode="numeric" id="weight-input"></label>
        </div>
        <div class="col">
            <label>BMI<input class="form-control" type="number" inputmode="numeric" id="bmi-output" readonly></label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>BMI對照表</h2>
            <div class="contianer">
                <div class="table-responsive">
                    <table id="bmi-table" class="table table-bordered border-primary table-hover table-sm">
                        <thead>
                            <tr>
                                <th colspan="2" scope="col">BMI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="bmi-light">
                                <td>BMI < 18.5</td>
                                <td>過輕</td>
                            </tr>
                            <tr id="bmi-normal">
                                <td>18.5 <= BMI < 24</td>
                                <td>正常</td>
                            </tr>
                            <tr id="bmi-heavy">
                                <td>24 <= BMI < 27 </td>
                                <td>過重</td>
                            </tr>
                            <tr id="bmi-fat">
                                <td>BMI >= 27</td>
                                <td>肥胖</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function update_bmi(){
        let weight = parseFloat($("#weight-input").val())
        let height = parseFloat($("#height-input").val()) / 100.0
        var bmi = weight / (height * height)
        $("#bmi-output").val(bmi.toFixed(2))

        if(bmi < 18.5){
            $("#bmi-light").attr("class", "table-bordered border-primary table-success")
            $("#bmi-normal").attr("class", "")
            $("#bmi-heavy").attr("class", "")
            $("#bmi-fat").attr("class", "")
        }
        else if(bmi < 24){
            $("#bmi-light").attr("class", "")
            $("#bmi-normal").attr("class", "table-bordered border-primary table-success")
            $("#bmi-heavy").attr("class", "")
            $("#bmi-fat").attr("class", "")
        }
        else if(bmi < 27){
            $("#bmi-light").attr("class", "")
            $("#bmi-normal").attr("class", "")
            $("#bmi-heavy").attr("class", "table-bordered border-primary table-success")
            $("#bmi-fat").attr("class", "")
        }
        else{
            $("#bmi-light").attr("class", "")
            $("#bmi-normal").attr("class", "")
            $("#bmi-heavy").attr("class", "")
            $("#bmi-fat").attr("class", "table-bordered border-primary table-success")
        }
    }

    $("#height-input").on("change", function(){
        update_bmi()
    })
    $("#weight-input").on("change", function(){
        update_bmi()
    })
</script>