{% assign text = site.data.text.tools["discount_calc"][page.language] %}

<div class="container row text-center">
    <div class="col-lg-6">
        <label>{{ text.original_price }}<input class="form-control" type="number" min="0.0" inputmode="numeric" id="price-input" value="0"></label>
    </div>
    <div class="col-lg-6">
        <label>{{ text.discount_percentage }}<input class="form-control" type="number" inputmode="numeric" id="discount-input" max="1.0" min="0.0" step="0.1" value="0.9"></label>
    </div>
    <div class="text-center mt-3">
        <label class="form-check-label"><input class="form-check-input" type="checkbox" id="service-fee" onchange="update_discount_price()">{{ text.service_charge }}</label>
        <label class="form-check-label"><input class="form-check-input" type="checkbox" id="service-ori" onchange="update_discount_price()">{{ text.ori_service_charge }}</label>
    </div>
    <div class="text-center mb-3">
        <label class="form-lable d-block">{{ text.common_discounts }}</label>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary" onclick="quick_discount(1.0)">{{ text.discount_none }}</button>
            <button class="btn btn-outline-primary" onclick="quick_discount(0.1)">{{ text.discount_90 }}</button>
            <button class="btn btn-outline-primary" onclick="quick_discount(0.85)">{{ text.discount_15 }}</button>
            <button class="btn btn-outline-primary" onclick="quick_discount(0.9)">{{ text.discount_10 }}</button>
            <button class="btn btn-outline-primary" onclick="quick_discount(0.95)">{{ text.discount_5 }}</button>
        </div>
    </div>

    <hr>
    
    <div class="col-lg-6">
        <label>{{ text.discounted_price }}<input class="form-control" type="number" inputmode="numeric" id="price-output" readonly></label>
    </div>
    <div class="col-lg-6">
        <label>{{ text.discounted_savings }}<input class="form-control" type="number" inputmode="numeric" id="discount-output" readonly></label>
    </div>
</div>

<script>
    function update_discount_price(){
        var ori_price = parseFloat($("#price-input").val())
        var discnt_price = ori_price * parseFloat($("#discount-input").val())
        if($("#service-fee").prop("checked")){
            if($("#service-ori").prop("checked")){
                discnt_price = discnt_price + ori_price * 0.1
            }
            else{
                discnt_price *= 1.1 
            }
            ori_price *= 1.1
        }
        $("#price-output").val(discnt_price.toFixed(2))
        $("#discount-output").val((ori_price - discnt_price).toFixed(2))
    }

    function quick_discount(discount){
        $('#discount-input').val(discount)
        update_discount_price()
    }

    $("#price-input").on("change", function(){
        update_discount_price()
    })
    $("#discount-input").on("change", function(){
        update_discount_price()
    })
</script>
