<div class="container">
    <div class="row">
        <div class="col">
            <label>待計算金額<input class="form-control" type="number" min="0.0" inputmode="numeric" id="price-input" value="0"></label>
            <label>折數<input class="form-control" type="number" inputmode="numeric" id="discount-input" max="1.0" min="0.0" step="0.1" value="0.9"></label>
        </div>
        <div class="col">
            <label>折扣後金額<input class="form-control" type="number" inputmode="numeric" id="price-output" readonly></label>
            <label>折扣省下了...<input class="form-control" type="number" inputmode="numeric" id="discount-output" readonly></label>
        </div>
    </div>
    <div class="row">
        <label class="form-check-label"><input class="form-check-input" type="checkbox" id="service-fee" onchange="update_discount_price()">10%服務費</label>
        <label class="form-check-label"><input class="form-check-input" type="checkbox" id="service-ori" onchange="update_discount_price()">原價計服務費</label>
    </div>
    <div class="row">
        <label>常用折扣</label>
        <div class="col">
            <button class="btn btn-primary" onclick="quick_discount(1.0)">不打折</button>
            <button class="btn btn-primary" onclick="quick_discount(0.1)">一折</button>
            <button class="btn btn-primary" onclick="quick_discount(0.85)">八五折</button>
            <button class="btn btn-primary" onclick="quick_discount(0.9)">九折</button>
            <button class="btn btn-primary" onclick="quick_discount(0.95)">九五折</button>
        </div>
    </div>
</div>

<script>
    function update_discount_price(){
        var ori_price = parseFloat($("#price-input").val())
        var discnt_price = ori_price * parseFloat($("#discount-input").val())
        if($("#service-fee").prop("checked")){
            if($("#service-ori").prop("checked")){
                discnt_price = discnt_price + ori_price * 0.1
            }
            else{
                discnt_price *= 1.1 
            }
            ori_price *= 1.1
        }
        $("#price-output").val(discnt_price.toFixed(2))
        $("#discount-output").val((ori_price - discnt_price).toFixed(2))
    }

    function quick_discount(discount){
        $('#discount-input').val(discount)
        update_discount_price()
    }

    $("#price-input").on("change", function(){
        update_discount_price()
    })
    $("#discount-input").on("change", function(){
        update_discount_price()
    })
</script>