<div class="container">
    <label>工作電壓 (V) <input class="form-control" type="number" inputmode="numeric" id="powerbank-voltage" value="3.7" step="0.1"></label>
    <label>電容量 (mAh)<input class="form-control" type="number" inputmode="numeric" id="powerbank-capacity-mah" value="10000.00"></label>
    <label>電容量 (Wh)<input class="form-control" type="number" inputmode="numeric" id="powerbank-capacity-wh" value="37.00"></label>

    <h2>常用電壓</h2>
    <button type="button" class="btn btn-primary" id="powerbank-voltage-3p7">3.7V</button>
    <button type="button" class="btn btn-primary" id="powerbank-voltage-5">5V</button>
    <button type="button" class="btn btn-primary" id="powerbank-voltage-9">9V</button>
    <button type="button" class="btn btn-primary" id="powerbank-voltage-12">12V</button>    
</div>

<script>
    $(document).ready(function(){
        $("#powerbank-capacity-mah").on("input", function(){
            var voltage = parseFloat($("#powerbank-voltage").val())
            var capacity_mah = parseFloat($(this).val())
            var capacity_wh = capacity_mah * voltage / 1000
            $("#powerbank-capacity-wh").val(capacity_wh.toFixed(2))
        })

        $("#powerbank-capacity-wh").on("input", function(){
            var voltage = parseFloat($("#powerbank-voltage").val())
            var capacity_wh = parseFloat($(this).val())
            var capacity_mah = capacity_wh * 1000 / voltage
            $("#powerbank-capacity-mah").val(capacity_mah.toFixed(2))
        })

        $("#powerbank-voltage").on("change", function(){
            var voltage = parseFloat($(this).val())
            var capacity_mah = parseFloat($("#powerbank-capacity-mah").val())
            var capacity_wh = capacity_mah * voltage / 1000
            $("#powerbank-capacity-wh").val(capacity_wh.toFixed(2))
        })

        // voltage buttons click event
        $("[id^='powerbank-voltage-']").on("click", function(){
            var voltage = parseFloat($(this).text().split("V")[0])
            $("#powerbank-voltage").val(voltage)
            $("#powerbank-voltage").trigger("change")
        })
    })

    

</script>
