---
layout: tools
---

<div class="container">
    <h2>抽籤工具</h2>
    <p>可以用在多個選項的決策或是抽獎，交由隨機來決定</p>
</div>
<div class="container">
    <label>標題<input class="form-control" type="text" id="title-input"></label>
    <div class="form-check">
        <label class="form-check-label"><input class="form-check-input" type="checkbox">選項1</label>
    </div>
    <div class="form-check">
        <label class="form-check-label"><input class="form-check-input" type="checkbox">選項2</label>
    </div>
</div>

<script>

</script>

<hr>

<div class="container">
    <h2>面積換算工具</h2>
    <p>換算常見的面積單位</p>
</div>
<div class="container">
    <label>平方公尺<input class="form-control" type="number" inputmode="numeric" id="area-sqm-input"></label>
    <label>公頃<input class="form-control" type="number" inputmode="numeric" id="area-ha-input"></label>
    <label>公畝<input class="form-control" type="number" inputmode="numeric" id="area-a-input"></label>
    <label>坪<input class="form-control" type="number" inputmode="numeric" id="area-ping-input"></label>
    <label>甲<input class="form-control" type="number" inputmode="numeric" id="area-jia-input"></label>
    <label>分<input class="form-control" type="number" inputmode="numeric" id="area-fen-input"></label>
</div>

<script>
    
</script>

<hr>

<div class="container">
    <h2></h2>
    <p></p>
</div>
<div class="container">

</div>

<script>

</script>

<hr>

<div class="container">
    <h2>新竹停車場</h2>
    <p>(預計)可以查詢現在的公有停車場剩餘車位</p>
</div>
<div class="container" id="dev">

</div>

<script>
    // fetch("https://opendata.hccg.gov.tw/API/v3/Rest/OpenData/4160E2F860CEE714?take=10&skip=0", {
    //     method: "GET",
    //     mode: 'cors',
    //     headers: {'Content-Type': 'application/json'},
    // })
    // .then(function (response){
    //     return response.json()
    // })
    // .then(function (data){
    //     $("#dev").text(data)
    // })
</script>

<hr>

<div class="container">
    {{ content }}
</div>

<hr>

{% for page in site.tools %}
    {{ page.title }}
{% endfor %}