---
layout: tools
---

<div class="container">
    <h2>面積換算工具</h2>
</div>
<div class="container">
    <label><input class="form-control" type="number" inputmode="numeric" id="area-input"></label>
</div>

<script>

</script>

<hr>

<div class="container">
    <h2>BMI計算</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <label>身高 (cm)<input class="form-control" type="number" inputmode="numeric" id="height-input"></label>
            <label>體重 (kg)<input class="form-control" type="number" inputmode="numeric" id="weight-input"></label>
        </div>
        <div class="col">
            <label>BMI<input class="form-control" type="number" inputmode="numeric" id="bmi-output" readonly></label>
        </div>
    </div>
</div>

<script>
    function update_bmi(){
        let weight = parseFloat($("#weight-input").val())
        let height = parseFloat($("#height-input").val()) / 100.0
        var bmi = weight / (height * height)
        $("#bmi-output").val(bmi.toFixed(2))
    }

    $("#height-input").on("change", function(){
        update_bmi()
    })
    $("#weight-input").on("change", function(){
        update_bmi()
    })
</script>

<hr>

<div class="container">
    <h2>新竹停車場</h2>
    <div class="container" id="dev">

    </div>
</div>

<script>
    // fetch("https://opendata.hccg.gov.tw/API/v3/Rest/OpenData/4160E2F860CEE714?take=10&skip=0", {
    //     method: "GET",
    //     mode: 'cors',
    //     headers: {'Content-Type': 'application/json'},
    // })
    // .then(function (response){
    //     return response.json()
    // })
    // .then(function (data){
    //     $("#dev").text(data)
    // })
</script>

<hr>

<div class="container">
    {{ content }}
</div>

<hr>

{% for page in site.tools %}
    {{ page.title }}
{% endfor %}