---
layout: tools
---

<div class="container">
    {{ content }}
</div>

<div class="container">
    <h2>新竹停車場</h2>
</div>
<div class="container">
    <div id="dev">

    </div>
</div>

<script>
    fetch("https://opendata.hccg.gov.tw/API/v3/Rest/OpenData/4160E2F860CEE714?take=10&skip=0")
    .then(function (response){
        return response.json()
    })
    .then(function (data){
        $("#dev").text(data)
    })
</script>

<hr>

{% for page in site.tools %}
    {{ page.title }}
{% endfor %}