---
layout: tools
---

<div class="container">
    <h1>抽籤工具</h1>
    <p>可以用在多個選項的決策或是抽獎，交由隨機來決定。目前只完成兩個選項，可以用來擲硬幣。</p>
</div>
<div class="container">
    <div class="container">
        <label>標題<input class="form-control" type="text" id="title-input" value="擲硬幣"></label>
        <label>抽籤結果<input class="form-control" type="text" id="draw-output" readonly></label>
        <button type="button" class="btn btn-primary" id="draw-btn">開始抽</button>
    </div>
    <hr>
    <div class="container">
        <button type="button" class="btn btn-primary" id="add-option-btn">增加選項</button>
    </div>
    <div class="container" id="draw-options">
        <label><input class="form-control" type="text" name="draw[]" value="正面"></label>
        <label><input class="form-control" type="text" name="draw[]" value="反面"></label>
    </div>

</div>

<script>
    $("#draw-btn").on("click", function(){
        let r = Math.floor(Math.random() * $("[name='draw[]']").length)
        $("#draw-output").val($("[name='draw[]']")[r].value)
    })
    
    $("#add-option-btn").on("click", function(){
        content = $("#draw-options").html() + `<label><input class="form-control" type="text" name="draw[]" value="新選項${$("[name='draw[]']").length}"></label>`
        $("#draw-options").html(content)
    })

</script>

<hr>

<div class="container">
    <h2>面積換算工具</h2>
    <p>換算常見的面積單位</p>
</div>
<div class="container">
    <label>平方公尺<input class="form-control" type="number" inputmode="numeric" id="area-sqm-input"></label>
    <label>公頃<input class="form-control" type="number" inputmode="numeric" id="area-ha-input"></label>
    <label>公畝<input class="form-control" type="number" inputmode="numeric" id="area-a-input"></label>
    <label>坪<input class="form-control" type="number" inputmode="numeric" id="area-ping-input"></label>
    <label>甲<input class="form-control" type="number" inputmode="numeric" id="area-jia-input"></label>
    <label>分<input class="form-control" type="number" inputmode="numeric" id="area-fen-input"></label>
</div>

<script>
    
</script>

<hr>

<div class="container">
    <h2></h2>
    <p></p>
</div>
<div class="container">

</div>

<script>

</script>

<hr>

<div class="container">
    <h2>新竹停車場</h2>
    <p>(預計)可以查詢現在的公有停車場剩餘車位</p>
</div>
<div class="container" id="dev">

</div>

<script>
    // fetch("https://opendata.hccg.gov.tw/API/v3/Rest/OpenData/4160E2F860CEE714?take=10&skip=0", {
    //     method: "GET",
    //     mode: 'cors',
    //     headers: {'Content-Type': 'application/json'},
    // })
    // .then(function (response){
    //     return response.json()
    // })
    // .then(function (data){
    //     $("#dev").text(data)
    // })
</script>

<hr>

<div class="container">
    {{ content }}
</div>

<hr>

{% for page in site.tools %}
    {{ page.title }}
{% endfor %}